@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #2c3e50;
  --primary-color-80: #465a6ed5;
  --secondary-color: #2899f6;
  --white-color: #ffffff;
  --black-color: #222222;
  --gray-color: #7a7a7a;
  --white-color-80: #ffffff80;

  --ff-primary: "Red Hat Display", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
}

body {
  font-family: var(--ff-secondary);
  outline: none;
  letter-spacing: 0.3px;
}

ul li {
  list-style: none;
}

.text-color-primary {
  color: var(--primary-color);
}

.text-color-secondary {
  color: var(--secondary-color);
}

.text-color-white {
  color: var(--white-color);
}

.text-color-white-80 {
  color: var(--white-color-80);
}

.text-color-black {
  color: var(--black-color);
}

.text-color-gray {
  color: var(--gray-color);
}

.hover-bg-primary:hover {
  background-color: var(--primary-color);
}

.hover-text-primary:hover {
  color: var(--primary-color);
}

.hover-text-secondary:hover {
  color: var(--secondary-color);
}

.hover-text-white:hover {
  color: var(--white-color);
}

.bg-color-primary {
  background-color: var(--primary-color);
}

.bg-color-primary-80 {
  background-color: var(--primary-color-80);
}

.ff-primary {
  font-family: var(--ff-primary);
}

.container {
  max-width: 1440px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.common-white-border {
  border-color: rgba(255, 255, 255, 0.122) !important;
}

.pattern-bg {
  background-image: url("/images/hero-bg-1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}

.fs-30 {
  font-size: 30px;
}

.fs-34 {
  font-size: 34px;
}

.fs-38 {
  font-size: 38px;
}

.fs-48 {
  font-size: 48px;
}

.border-color-white {
  border-color: var(--white-color);
}

.transition-color {
  transition: color 0.3s;
}

.h-30px {
  height: 30px;
}

.w-30px {
  width: 30px;
}

.h-35px {
  height: 35px;
}

.w-35px {
  width: 35px;
}

.h-40px {
  height: 40px;
}

.w-40px {
  width: 40px;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

nav {
  box-shadow: 6px 6px 30px rgba(0, 80, 191, 8%);
}

.bg-img-main-banner {
  background-image: url("/images/hero-bg-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.common-bg {
  background-image: url("https://images.squarespace-cdn.com/content/v1/58261c4020099e94eacfcb0b/1539186438168-QNPYG2A3BAP2FY4B1A62/exportship1500w.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 350px;
  background-position: center;
  position: relative;
  z-index: 1;
}

.common-bg::after {
  position: absolute;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: -1;
}

.vh-100 {
  height: 100vh;
}

.min-vh-86 {
  min-height: 86vh;
}

.letter-spacing-1_5 {
  letter-spacing: 1.5px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.primary-btn {
  background-color: var(--primary-color) !important;
}

.white-btn {
  background-color: var(--white-color) !important;
  /* border: 1px solid #e7e7e7 !important; */
}

.secondary-btn {
  background-color: var(--secondary-color) !important;
}

.primary-btn,
.white-btn,
.secondary-btn {
  border: 0;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.primary-btn::after {
  background-color: var(--secondary-color);
}

.white-btn::after {
  background-color: var(--primary-color);
}

.secondary-btn::after {
  background-color: var(--white-color);
}

.primary-btn::after,
.white-btn::after,
.secondary-btn::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  transition: height 0.3s ease-out;
}

.primary-btn:hover::after,
.white-btn:hover::after,
.secondary-btn:hover::after {
  height: 100%;
}

.secondary-btn:hover {
  color: var(--primary-color);
}

.header-icon {
  transition: color 0.3s, border 0.3s;
}

.header-icon:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color) !important;
}

.up-down-animation {
  animation: up-down infinite linear 2.5s alternate;
}

.paddingY {
  padding-top: 80px;
  padding-bottom: 80px;
}

.paddingY-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.paddingTop {
  padding-top: 80px;
}

.paddingTop-56 {
  padding-top: 56px;
}

.paddingBottom {
  padding-bottom: 80px;
}

.paddingBottom-56 {
  padding-bottom: 56px;
}

.border-color-primary {
  border-color: var(--primary-color) !important;
}

.box-shadow-lg {
  box-shadow: 0px 0px 15px #2c3e5025;
}

.max-w-600px {
  max-width: 600px;
}

.max-w-800px {
  max-width: 800px;
}

.no-resize {
  resize: none;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.truncate-line-3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
}

/* =================================== 
         main home page css 
=================================== */

.bg-img-main-banner {
  background-image: url("https://www.bpcoachtrain.com/wp-content/uploads/2016/12/Millennials-not-afraid-to-speak-up.jpg");
  position: relative;
  z-index: 1;
  color: var(--white-color);
  background-position: center;
}

.bg-img-main-banner span:nth-child(1) {
  color: var(--white-color);
}

.bg-img-main-banner::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.555);
  z-index: -1;
}

.home-service-icon {
  background-color: var(--primary-color);
  height: 50px;
  width: 50px;
  transition: background-color 0.5s, color 0.5s;
}

.banner-service-hover-card {
  transition: background-color 0.5s, color 0.5s;
}

.banner-service-hover-card:hover {
  background-color: var(--primary-color);
}

.banner-service-hover-card:hover .text-color-primary {
  color: var(--white-color);
}

.banner-service-hover-card:hover .text-color-gray {
  color: var(--white-color);
  opacity: 0.5;
}

.banner-service-hover-card:hover .home-service-icon {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.team-profile-img img {
  /* height: 180px; */
  width: 70%;
  max-width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

.team-profile-img {
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;
  background-color: var(--white-color);
}

.team-profile-img::after {
  transition: all 0.5s;
  position: absolute;
  content: "";
  width: 100%;
  background-color: var(--primary-color);
  height: 35%;
  top: 0;
  left: 0;
}

.team-profile-img:hover::after {
  height: 100%;
}

.team-profile-img:hover .text-color-primary {
  color: var(--white-color);
}

.team-profile-img:hover .text-color-gray {
  color: var(--white-color-80);
}

footer {
  background-color: var(--primary-color);
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.form-control {
  padding: 10px;
}

.form-label {
  font-family: var(--ff-primary);
}

@keyframes up-down {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@media (max-width: 1120px) {
  .main-banner-title {
    font-size: 42px;
  }
}

@media (max-width: 992px) {
  .main-banner-img {
    max-height: 400px !important;
  }
}

@media (max-width: 768px) {
  .responsive .fs-12,
  .responsive.fs-12 {
    font-size: 10px;
  }

  .responsive .fs-13,
  .responsive.fs-13 {
    font-size: 10px;
  }

  .responsive .fs-14,
  .responsive.fs-14 {
    font-size: 12px;
  }

  .responsive .fs-16,
  .responsive.fs-16 {
    font-size: 14px;
  }

  .responsive .fs-18,
  .responsive.fs-18 {
    font-size: 16px;
  }

  .responsive .fs-20,
  .responsive.fs-20 {
    font-size: 18px;
  }

  .responsive .fs-24,
  .responsive.fs-24 {
    font-size: 21px;
  }

  .responsive .fs-28,
  .responsive.fs-28 {
    font-size: 24px;
  }

  .responsive .fs-30,
  .responsive.fs-30 {
    font-size: 26px;
  }

  .responsive .fs-34,
  .responsive.fs-34 {
    font-size: 30px;
  }

  .responsive .fs-38,
  .responsive.fs-38 {
    font-size: 34px;
  }

  .responsive .fs-48,
  .responsive.fs-48 {
    font-size: 42px;
  }

  .paddingY {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .paddingY-56 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .paddingTop {
    padding-top: 50px;
  }

  .paddingTop-56 {
    padding-top: 26px;
  }

  .paddingBottom {
    padding-bottom: 50px;
  }

  .paddingBottom-56 {
    padding-bottom: 26px;
  }

  .primary-btn,
  .white-btn,
  .secondary-btn {
    padding-left: 24px;
    padding-right: 24px;
  }

  .main-banner-title {
    font-size: 38px;
  }

  .form-control {
    font-size: 14px;
  }

  .form-label {
    font-size: 14px;
  }

  .common-bg {
    min-height: 200px;
  }
}

@media (max-width: 576px) {
  .main-banner-title {
    font-size: 30px !important;
  }

  .bg-img-main-banner {
    background-position: calc(35%);
  }

  .bg-img-main-banner.min-vh-86 {
    min-height: 80vh;
  }

  .paddingY {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .paddingY-56 {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .paddingTop {
    padding-top: 24px;
  }

  .paddingTop-56 {
    padding-top: 2px;
  }

  .paddingBottom {
    padding-bottom: 24px;
  }

  .paddingBottom-56 {
    padding-bottom: 2px;
  }
}
